* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    color: white;
    font-family: Verdana;
    font-size: 50px;
    text-align: center;
}

main{
    position: relative;
    width: 90%;
    height: 1130px;
    background-color: rgb(234, 169, 169);
    margin: auto;
}

#titulopag{
    position: relative;
    width: 100%;
    height: 150px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    font-size: 70px;
  
}

#menu{
    position: relative;
    width: 100%;
    height: 60px;
    background-color: rgb(6, 26, 179);
    text-align: left;
    font-size: 30px;
}

#menu2 {
    position: relative;
    width: 20%;
    height: 840px;
    background-color: #ccccaa;
    float: left;

}

section{
    position: relative;
    width: 60%;
    height: 840px;
    background-color: #ffccff;
    float: left;
    font-size: 50px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#titulosecao{
    position: relative;
    width: 96%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    color: black;
    font-size: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#divsecao {
    position: relative;
    width: 96%;
    height: 280px;
    background-color: #996600;
    margin: auto;

}

#paragrafo {
    position: relative;
    width: 96%;
    height: 140px;
    background-color: #CCCCFF;
    margin: auto;
    color: black;
    font-size: 20px;
    text-align: left;
}

aside {
    position: relative;
    width: 20%;
    height: 840px;
    background-color: #ff00ff;
    float: left;

}

footer {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    clear: left ;
}

#caixa {
    position:relative;
    width: 96%;
    height: 200px;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center;
}

.caixinha {
    position: relative;
    width: 32%;
    height: 190px;
    background-color: #666;
}




