* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: white;
    position: relative;
    width: 95%;
    max-width: 1600px;
    /* Mantém a proporção em qualquer tela (na teoria) */
    aspect-ratio: 16 / 10; 
    margin: 20px auto;
    font-weight: bold;
}

/* CAMADA 1 */

.camada1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 18.75%;
    height: 16.6%;
    background-color: blue;
    text-align: center;
    font-family: "Times New Roman", serif;
    font-size: 25px;
    font-weight: bold;
}

/* CAMADA 2 */

.camada2 {
    position: absolute;
    top: 0;
    left: 18.75%;
    right: 0;
    height: 16.6%;
    background-color: red;
    text-align: center;
    font-family: "Times New Roman", serif;
    font-size: 25px;
    font-weight: bold;
}

/* CAMADA 3 */

.camada3 {
    position: absolute;
    top: 16.6%;
    left: 0;
    right: 0;
    height: 6.7%;
    background-color: lime;
    text-align: center;
    font-family: "Times New Roman", serif;
    font-size: 25px;
    padding-top: 2px;
    font-weight: bold;
}

/* CAMADA 4 */

.camada4 {
    position: absolute;
    top: 23.3%;
    left: 0;
    right: 0;
    height: 69.7%;
    background-color: yellow;
    border: 12px solid red;
    text-align: center;
    font-family: "Times New Roman", serif;
    font-size: 25px;
    font-weight: bold;
}

/* CAMADA 5 */

.camada5 {
    position: absolute;
    top: 93%; 
    left: 0;
    right: 0;
    height: 7%;
    background-color: gray;
    text-align: center;
    font-family: "Times New Roman", serif;
    font-size: 25px;
    padding-top: 2px;
    font-weight: bold;
}